body{
    font-family: 'Montserrat';
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid{
    padding: 3% 3% 7%;
}

/* Title */


#title{
    background-color: #534749;
    color: #fff;
}

.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar-item{
    margin:0 18px;
}
.nav-link{
    font-size: 1.2rem;
}

.intro{
    margin: 0 auto;
    text-align: center;
}
.intro h1{
    font-weight: 500;
    text-transform: uppercase;
}


/* Intro Buttons */
.intro-button{
    margin:5% 3% 5% 0;
}


/* Projects */
.projects-card{
    padding: 3%;
}

#projects{
    padding: 100px;
    text-align: center;
}

/* Footer */

.footer-icon{
    margin: 10px;
}
.footer-para{
    color: #8f8f8f;
}

#footer{
    color:white;
    background-color: #534749;
    padding:7% 15% 7%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
